@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";
@tailwind utilities;


@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}



ul{
    @apply justify-between space-x-5
}

.btn{
    @apply bg-gray-500 rounded-2xl font-bold p-2 transition-colors duration-200 hover:bg-white
}

body{
    height: auto;
    min-height: 100vh;
}

p{
    @apply text-justify
}

.navs{
    @apply inline-flex justify-items-center transition-transform duration-300 text-amber-400 hover:scale-110
}

.divisi{
    @apply font-bold m-8 mb-1
}

.divider{
    @apply mr-8 ml-8 border-2 border-gray-300 rounded-4xl
}


input, select{
    @apply block w-full mt-2 mb-4 p-2 bg-gray-200
}

.login{
    @apply bg-amber-300 rounded-lg hover:scale-110 transition-transform duration-300 p-2
}

.form-layout{
    @apply max-w-screen-sm mx-auto p-10 bg-blue-100 m-20 rounded-2xl space-y-6
}
